<!DOCTYPE html>
<html>
  <head>
    <title>Zooni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>

    <div class="site-container">
      <%= turbo_frame_tag "modal"%>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>


  </body>
</html>
